<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Dodaj nowy pojazd</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
<nav>
    <ul>
        <li><a href="/">Pojazdy do naprawy</a></li>
        <li><a href="/add">Dodaj nowy pojazd</a></li>
        <li><a href="/repair">Napraw pojazd</a></li>
        <li><a href="/repaired">Pojazdy naprawione</a></li>
    </ul>
</nav>

<h1>Serwis Samochodów</h1>
<h2>Dodaj nowy pojazd</h2>
<form method="post" th:action="@{/add}" th:object="${car}">
    <div>
        <label for="registrationNumber">Numer rejestracyjny:</label>
        <input type="text" id="registrationNumber" name="registrationNumber" th:field="${car.registrationNumber}" required/>
        <p th:if="${#fields.hasErrors('registrationNumber')}" class="error" th:errors="*{registrationNumber}">Invalid registration number: <span th:text="${#fields.errors}"></span>
        </p>
    </div>
    <label for="name">Nazwa samochodu:</label>
    <input type="text" id="name" name="name" th:field="${car.name}" required/>

    <label for="color">Kolor:</label>
    <input type="text" id="color" name="color" th:field="${car.color}" required/>

    <label for="year">Rocznik:</label>
    <select id="year" name="year" th:field="${car.year}" required>
        <option th:each="year : ${yearsList}" th:value="${year}" th:text="${year}"></option>
    </select>

    <button type="submit">Dodaj</button>
</form>
</body>
</html>
